.externalToolBuilders
.project
*.sublime-*

build
controls/controls.js
controls/controls.css
controlDocumentation.js
docs.js
docs.css
markup/markup.js
markup/markup.css
node_modules
grunt/classGraph.js
quickui.catalog.*
quickui-catalog.js
quickui-catalog.css
quidoc.js
test/unittests.js
test/common/common.*
