.externalToolBuilders
.project
*.sublime-*

build
coffee/coffee.js
coffee/coffee.css
controlDocumentation.js
docs.js
docs.css
markup/markup.js
markup/markup.css
node_modules
grunt/classGraph.js
quickui.catalog.*
quickui-catalog.js
quickui-catalog.css
quidoc.js
port/port.js
port/port.css
test/unittests.js
test/common/common.*
