/*** AutoSizeTextBox ***/

.AutoSizeTextBox {
    position: relative;
}

.AutoSizeTextBox #textBox {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.AutoSizeTextBox #textCopy {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    visibility: hidden;
    width: 100%;
}

/*** AutoSizeTextBoxDemo ***/

.AutoSizeTextBoxDemo {
    font-family: "Times New Roman", sans-serif;
    font-size: 18px;
}

/*** CatalogIndexPage ***/

.CatalogIndexPage #table {
    display: table;
}
.CatalogIndexPage #table > * {
    display: table-row;
}
.CatalogIndexPage #table > * > * {
    display: table-cell;
    padding-bottom: .5em;
}
.CatalogIndexPage #table > * > *:not(:last-child) {
    padding-right: 1em;
}

/*** CatalogNavigationLinks ***/

.CatalogNavigationLinks #linkIndex {
    margin-bottom: 15px;
}

/*** CatalogPage ***/

.CatalogPage #usage {
    display: none;
}

/*** DialogDemo ***/

.DialogDemo {
    background: white;
    border: 2px solid orange;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
    min-width: 200px;
    max-width: 500px;
}

/*** DotButton ***/

.DotButton {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
}

.DotButton #button {
    background: #e0e1e3;
    border-bottom-color: #e0e1e3;
    border-left-color: #c8c9cb;
    border-right-color: #c8c9cb;
    border-style: solid;
    border-top-color: #969696;
    border-width: 1px;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 9px;
    margin: 1px;
    width: 9px;
}

.DotButton:hover #button {
    background: #c7c7c7;
}

.DotButton.selected #button {
    background: #32a7e1;
    background: -moz-linear-gradient(top, #6cc0eb, #068ccf); /* Firefox */
    background: -ms-linear-gradient(top, #6cc0eb, #068ccf); /* IE10 */
    background: -webkit-linear-gradient(top, #6cc0eb, #068ccf); /* Webkit (Chrome 11+) */
    border: 1px solid #068bcd;
    height: 11px;
    margin: 0;
    width: 11px;
}

/*** Fader ***/

.Fader {
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.Fader #gradient {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    width: 1.5em;
}

.Fader.vertical #gradient {
    right: auto;
    bottom: 0;
    height: 1.5em;
    top: auto;
    width: 100%;
}

/*** FaderDemo ***/

.FaderDemo .Fader {
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin: .5em 0;
    padding: 2px;
}

/*** GradientDemo ***/

.GradientDemo .Gradient {
    height: 100px;
    width: 100px;
}

/*** HintTextBox ***/

.HintTextBox {
    cursor: text;
	position: relative;
}

.HintTextBox #HintTextBox_textBox {
	width: 100%;
}

.HintTextBox #HintTextBox_hint {
	bottom: 0;
    color: gray;
    height: 1.25em;
    margin: auto 0;
    position: absolute;
    padding: 0 6px;
    overflow: hidden;
	top: 0;
	width: 100%;
}

/*** HintTextBoxDemo ***/

.HintTextBoxDemo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	width: 300px;
}

.HintTextBoxDemo input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
}

/*** HorizontalPanelsDemo ***/

.HorizontalPanelsDemo .HorizontalPanels {
    height: 200px;
}
.HorizontalPanelsDemo .HorizontalPanels > * {
    border: 1px solid lightgray;
    padding: 6px;
}

/*** ListComboBox ***/

.ListComboBox #list > * {
    display: block;
}

/*** LoremIpsum ***/

.LoremIpsum p {
	display: none;
}

.LoremIpsum p:first-child {
	display: block;
    margin-top: 0;
}

/*** HorizontalPanelsDemo ***/

.HorizontalPanelsDemo .HorizontalPanels {
    height: 200px;
}
.HorizontalPanelsDemo .HorizontalPanels > * {
    border: 1px solid lightgray;
    padding: 6px;
}

/*** SampleSpriteButtonDemo ***/

.SampleSpriteButtonDemo .SampleSpriteButton {
	margin-right: 6px;
}

/*** SearchBox ***/

.SearchBox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

.SearchBox input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

.SearchBox #searchButton {
    margin-left: 4px;
}

/*** SlidingStrip ***/

.SlidingStrip {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.SlidingStrip #Strip_content {
    position: relative;
    white-space: nowrap;
}
.SlidingStrip #Strip_content > * {
    display: inline-block;
}

/*** SlidingTabs ***/

.SlidingTabs {
    text-align: center;
}

.SlidingTabs #container {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.SlidingTabs #SlidingTabs_content {
    position: relative;
    white-space: nowrap;
}
.SlidingTabs #SlidingTabs_content > * {
    display: inline-block;
}

.SlidingTabs #tabButtons {
    display: inline-block;
    margin: 0 auto;
}

/*** SlidingTabsDemo ***/

.SlidingTabsDemo .page {
    height: 200px;
    width: 300px;
}

/*** SpriteButton ***/

.SpriteButton {
    display: inline-block;
    position: relative;
}

.SpriteButton .Sprite {
    height: 100%;
    position: absolute;
    top: 0;
    /* 
     * Each sprite covers half the background
     */
    width: 50%;
    z-index: 0;
}

.SpriteButton #backgroundLeft {
	background-position: 0 0;
	left: 0;
}

.SpriteButton #backgroundRight {
    background-position: right 0;
    /*
     * Use left: 50% instead of right: 0, as the latter doesn't work exactly right on WebKit.
     */
    left: 50%;
}

.SpriteButton button {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    outline: none;
    -moz-outline: none;
    overflow: visible;
    position: relative;
    white-space: nowrap;
}

.SpriteButton.disabled button {
    cursor: default;
}

/*** SpriteDemo ***/

.SpriteDemo #image {
	cursor: pointer;
}

/*** Switch ***/

.Switch .hidden {
	display: none !important;
}

/*** SwitchDemo ***/

.SwitchDemo #switchMode {
    min-height: 2em;
}

.SwitchDemo #textReadOnly {
    padding: 3px;
}

/*** TestPage ***/

.TestPage #test {
    background-position: 100% 0;
}

/*** TextBoxWithButton ***/

.TextBoxWithButton {
    display: inline-block;
}

.TextBoxWithButton > * {
    display: inline-block;
    vertical-align: middle;
}

/*** TextCondenser ***/

.TextCondenser {
    overflow: hidden;
    white-space: nowrap;
}

/*
 * To hide a copy of the text, we set its visibility to hidden so that its width
 * will still be valid. We use position absolute on the hidden text to pull it
 * out of the flow.
 */
.TextCondenser #condensed {
    visibility: hidden;
    position: absolute;
}

.TextCondenser.condensed #normal {
    visibility: hidden;
    position: absolute;
}
.TextCondenser.condensed #condensed {
    visibility: visible;
    position: relative;
}

/*** TextCondenserDemo ***/

.TextCondenserDemo {
    font-family: "Open Sans", sans-serif;
    max-width: 150px;
}

.TextCondenserDemo .Fader {
    background-color: #faf3ed;
}

/*** VerticalPanelsDemo ***/

.VerticalPanelsDemo .VerticalPanels {
    height: 200px;
}
.VerticalPanelsDemo .VerticalPanels > * {
    border: 1px solid lightgray;
    padding: 6px;
}

/*** SampleSpriteButton ***/

.SampleSpriteButton button {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	padding: 6px 10px 8px 10px;
}

.SampleSpriteButton.disabled {
	color: #bbb;
}

