/*** AdPlaceholder ***/

.AdPlaceholder #adContainer {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Generic appearance */
.AdPlaceholder.generic #container {
    background: gray;
    color: white;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.AdPlaceholder.generic #label {
    font-weight: bold;
}

/*** AutoSizeTextBox ***/

.AutoSizeTextBox {
    position: relative;
}

.AutoSizeTextBox #textBox {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    resize: none;
    top: 0;
    width: 100%;
}

.AutoSizeTextBox #textCopy {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    visibility: hidden;
    white-space: pre-wrap; /* So lines wrap */
    width: 100%;
}

/*** CalendarDay ***/

/* Subclasses can extend these */
.CalendarDay {}
.CalendarDay.alternateMonth {}
.CalendarDay.firstWeek {}
.CalendarDay.firstDayOfMonth {}
.CalendarDay.lastDayOfMonth {}
.CalendarDay.today {}
.CalendarDay.sunday {}
.CalendarDay.saturday {}
.CalendarDay.weekday {}
.CalendarDay.past {}
.CalendarDay.future {}
.CalendarDay.insideRange {}
.CalendarDay.outsideRange {}

/* Generic appearance */
.CalendarDay.generic {
    border: 1px solid transparent;
    font-family: sans-serif;
    padding: 4px;
    text-align: right;
}
.CalendarDay.generic.today {
    color: darkred;
    font-weight: bold;
}

/*** CalendarDayButton ***/

.CalendarDayButton {
    padding: 0;
}
.CalendarDayButton #button {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
}

/* Generic appearance */
.CalendarDayButton.generic {
    padding: 0;
}
.CalendarDayButton.generic #button {
    border: 1px solid transparent;
    padding: 4px;
}
.CalendarDayButton.generic #button:hover {
    border-color: lightgray;
}
.CalendarDayButton.generic.outsideRange #button {
    color: #aaa;
}
.CalendarDayButton.generic.selected #button {
    background-color: #ddd;
}
.CalendarDayButton.generic.today.insideRange #button {
    color: darkred;
    font-weight: bold;
}

/*** CalendarMonth ***/

.CalendarMonth {
    display: table-row-group;
}

/* Generic appearance */
.CalendarMonth .CalendarDay.generic.outsideMonth {
    color: #aaa;
}

.CalendarMonth .CalendarWeek.hidden {
    display: none;
}

/*** CalendarMonthWithHeadings ***/

.CalendarMonthWithHeadings #monthName {
    display: block;
}

.CalendarMonthWithHeadings #monthTable {
    display: table;
    width: 100%;
}

.CalendarMonthWithHeadings #daysOfWeek {
    display: table-header-group;
}

/* Generic appearance */
.CalendarMonthWithHeadings.generic {
    font-family: sans-serif;
}
.CalendarMonthWithHeadings.generic #monthName {
    font-weight: bold;
    padding: 4px;
    text-align: center;
}
.CalendarMonthWithHeadings.generic #daysOfWeek {
    font-size: smaller;
}

/*** CalendarWeek ***/

.CalendarWeek {
    display: table-row;
}
.CalendarWeek > * {
    display: table-cell;
    width: 14.2%; /* One seventh */
}

/* Subclasses can extend these */
.CalendarWeek .week {}
.CalendarWeek .day.insideRange {}
.CalendarWeek .day.outsideRange {}

/*** Collapsible ***/

/* Animation effects look jerky if the top (or bottom) element has a top (bottom) margin. */
.Collapsible #Collapsible_content > *:first-child {
	margin-top: 0;
}
.Collapsible #Collapsible_content > *:last-child {
	margin-bottom: 0;
}

/*** ColorSwatch ***/

.ColorSwatch {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 1.25em;
    margin: 3px;
    width: 1.25em;
}

.ColorSwatch.none {
    border: 1px solid lightgray;
}

/*** ColorSwatchButton ***/

.ColorSwatchButton > * {
    display: inline-block;
    vertical-align: middle;
}

/*** ColorSwatchTextBox ***/

.ColorSwatchTextBox > * {
    display: inline-block;
    vertical-align: middle;
}

.ColorSwatchTextBox #swatch {
    margin-left: 6px;
}

/*** DaysOfWeek ***/

.DaysOfWeek .dayOfWeek {
    display: table-cell;
}

/* Generic appearance */
.DaysOfWeek.generic .dayOfWeek {
    text-align: center;
}

/*** Fader ***/

.Fader {
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.Fader #gradient {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    width: 1.5em;
}

.Fader.vertical #gradient {
    right: auto;
    bottom: 0;
    height: 1.5em;
    top: auto;
    width: 100%;
}

/*** FlickrInterestingnessDay ***/

.FlickrInterestingnessDay {
    background: white;
    padding: 3px;
    text-align: left;
    vertical-align: top;
}

.FlickrInterestingnessDay #FlickrInterestingnessDay_content {
    color: white;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 4px;
    position: absolute;
    text-shadow: black 1px 1px 0;
    z-index: 1;
}

.FlickrInterestingnessDay #link {
    text-decoration: none;
}

.FlickrInterestingnessDay #image {
    border: none; /* For IE */
    display: block;
    height: 75px;
    padding: 1px;
    width: 75px;
}

.FlickrInterestingnessDay.past {
    border-color: #7e7262;
}
.FlickrInterestingnessDay.today,
.FlickrInterestingnessDay.future {
    border-color: #e5e5e5;
    padding: 3px 0 0 4px;
}
.FlickrInterestingnessDay.today #FlickrInterestingnessDay_content,
.FlickrInterestingnessDay.future #FlickrInterestingnessDay_content {
    color: #e5e5e5;
    text-shadow: none;
}
.FlickrInterestingnessDay.today #image,
.FlickrInterestingnessDay.future #image {
    visibility: hidden;
}

/*** HighlightEffects ***/

.HighlightEffects {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* No tap highlight */
}

/*** HintTextBox ***/

.HintTextBox {
    cursor: text;
    position: relative;
}

.HintTextBox #HintTextBox_textBox {
    width: 100%;
}

.HintTextBox #HintTextBox_hint {
    bottom: 0;
    color: gray;
    height: 1.25em;
    margin: auto 0;
    position: absolute;
    padding: 0 6px;
    overflow: hidden;
    top: 0;
    width: 100%;
}

/*** LateralNavigator ***/

.LateralNavigator {
    display: table;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
}

.LateralNavigator #header {
    height: 30px; /* HACK */
}
.LateralNavigator #header > .HorizontalPanels {
    width: inherit;
}

.LateralNavigator #LateralNavigator_content {
    width: 100%;
}

/* Generic appearance */
.LateralNavigator.generic {
    font-family: sans-serif;
}
.LateralNavigator.generic #LateralNavigator_heading {
    font-weight: bold;
    margin-top: .25em; /* Hacky attempt at vertical centering */
    text-align: center;
}
.LateralNavigator.generic .navigatorButton {
    border: none;
    font-size: larger;
    padding: 0 0.25em;
}

/*** ListBox ***/

.ListBox {
    overflow-y: auto;
}

.ListBox > * {
    display: block;
    outline: none;
}

/* Generic appearance */
.ListBox.generic {
    border: 1px solid lightgray;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ListBox.generic .ButtonBase.generic {
    border: none;
    width: 100%;
}
.ListBox.generic .ButtonBase.generic.selected {
    background: highlight;
    color: highlighttext;
}

/*** ListComboBox ***/

.ListComboBox #list {
    border: none;
}
.ListComboBox #list > * {
    display: block;
}

/* Generic appearance */
.ListComboBox.generic .ButtonBase {
    border: none;
}

/*** PanelWithOverflow ***/

.PanelWithOverflow {
    position: relative;
}

.PanelWithOverflow #PanelWithOverflow_content {
    position: relative; /* Simplifies layout calcs */
    overflow: hidden;
    white-space: nowrap;
}

/* By default, contents are arranged in inline layout */
.PanelWithOverflow #PanelWithOverflow_content > * {
    display: inline-block;
}
.PanelWithOverflow #PanelWithOverflow_content > .overflowed {
    visibility: hidden;
}

.PanelWithOverflow #menuButton {
    float: right;
}

/* In the menu, contents layout switches to vertical arrangement. */
.PanelWithOverflow #menuButton #HasPopup_popup > * {
    display: block;
}

/* Generic appearance */
.PanelWithOverflow.generic #menuButton .ButtonBase.generic {
    border-color: transparent;
}

/*** PersistentPanel ***/

.PersistentPanel {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.PersistentPanel #PersistentPanel_content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.PersistentPanel.docked #PersistentPanel_content {
    position: fixed;
}

/* Generic appearance */
.PersistentPanel.generic #PersistentPanel_content {
    background: white;
    z-index: 1;
}

/*** SearchBox ***/

.SearchBox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

.SearchBox input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

.SearchBox #searchButton {
    margin-left: 4px;
}

/*** SlidingPages ***/

.SlidingPages {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    width: 0; /* Prevent anything from appearing until we've set width. */
}

.SlidingPages #SlidingPages_content {
    position: relative; /* So we can shift it over */
    white-space: nowrap;
}
.SlidingPages #SlidingPages_content > * {
    display: inline-block;
}

/*** SlidingPagesWithDots ***/

.SlidingPagesWithDots {
    display: inline-block; /* Size to content */ 
    overflow: hidden;
}

.SlidingPagesWithDots #buttonPanel {
    text-align: center;
}
.SlidingPagesWithDots #pageButtons {
    display: inline-block;
    margin: 0 auto;
}

/* Generic appearance */
.SlidingPagesWithDots.generic #buttonPanel {
    padding: 5px;
}

.SlidingPagesWithDots.generic #pageButtons > .ButtonBase {
    background: white;
    border: 1px solid #888;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 10px;
    margin: 2px;
    padding: 5px;
    width: 10px;
}

.SlidingPagesWithDots.generic #pageButtons > .ButtonBase:hover {
    background: #ddd;
}

.SlidingPagesWithDots.generic #pageButtons > .ButtonBase.selected {
    background: #bbb;
}

/*** SpriteButton ***/

.SpriteButton {
    display: inline-block;
    position: relative;
}

.SpriteButton .Sprite {
    height: 100%;
    position: absolute;
    top: 0;
    /* 
     * Each sprite covers half the background
     */
    width: 50%;
    z-index: 0;
}

.SpriteButton #backgroundLeft {
    background-position: 0 0;
    left: 0;
}

.SpriteButton #backgroundRight {
    background-position: right 0;
    /*
     * Use left: 50% instead of right: 0, as the latter doesn't work exactly right on WebKit.
     */
    left: 50%;
}

.SpriteButton button {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    outline: none;
    -moz-outline: none;
    overflow: visible;
    position: relative;
    white-space: nowrap;
}

.SpriteButton.disabled button {
    cursor: default;
}

/*** TextBoxWithButton ***/

.TextBoxWithButton {
    display: inline-block;
}

.TextBoxWithButton > * {
    display: inline-block;
    vertical-align: middle;
}

/*** TextCondenser ***/

.TextCondenser {
    overflow: hidden;
    white-space: nowrap;
}

/*
 * To hide a copy of the text, we set its visibility to hidden so that its width
 * will still be valid. We use position absolute on the hidden text to pull it
 * out of the flow.
 */
.TextCondenser #condensed {
    visibility: hidden;
    position: absolute;
}

.TextCondenser.condensed #normal {
    visibility: hidden;
    position: absolute;
}
.TextCondenser.condensed #condensed {
    visibility: visible;
    position: relative;
}

/*** ValidatingTextBox ***/

/* Generic appearance */

.ValidatingTextBox.generic.invalid #textBox {
    background-color: pink;
}

/*** CalendarMonthNavigator ***/

/* Generic appearance */
.CalendarMonthNavigator.generic .CalendarDay.selected {
    background-color: #ddd;
}
.CalendarMonthNavigator.generic #todayContainer {
    text-align: center;
}
.CalendarMonthNavigator.generic #buttonToday.generic {
    border: none;
}

/*** ColorSwatchComboBox ***/

/* Generic appearance */
.ColorSwatchComboBox.generic .ColorSwatchButton.generic {
    padding-left: 0;
    padding-right: 0;
}

/*** DateTextBox ***/

.DateTextBox #textBox {
    width: 6em;
}

/*** RotatingPagesWithDots ***/

.RotatingPagesWithDots .letter {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 96px;
    font-weight: bold;
    padding: 40px;
    text-align: center;
    vertical-align: middle;
}

/*** SampleSpriteButton ***/

.SampleSpriteButton button {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    padding: 6px 10px 8px 10px;
}

.SampleSpriteButton.disabled {
    color: #bbb;
}

