/*** HorizontalPanels ***/

.HorizontalPanels {

  &.noFlexBox.constrainHeight {

    & > * {
      top: 0;
      bottom: 0;
    }

    .SimpleFlexBox_panel1 {
      left: 0;
    }
    
    .SimpleFlexBox_panel2 {
      right: 0;
    }

  }

  &.constrainHeight {

    .SimpleFlexBox_content {
      overflow-y: auto;
    }
    
  }

}
