/*** BlueDotButton ***/

.BlueDotButton {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
}

.BlueDotButton #button {
    background: #e0e1e3;
    border-bottom-color: #e0e1e3;
    border-left-color: #c8c9cb;
    border-right-color: #c8c9cb;
    border-style: solid;
    border-top-color: #969696;
    border-width: 1px;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 9px;
    margin: 0 1px 1px 1px;
    width: 9px;
}

.BlueDotButton:hover #button {
    background: #c7c7c7;
}

.BlueDotButton.selected #button {
    background: #32a7e1;
    background: -moz-linear-gradient(top, #6cc0eb, #068ccf); /* Firefox */
    background: -ms-linear-gradient(top, #6cc0eb, #068ccf); /* IE10 */
    background: -webkit-linear-gradient(top, #6cc0eb, #068ccf); /* Webkit (Chrome 11+) */
    border: 1px solid #068bcd;
    height: 11px;
    margin: 0;
    width: 11px;
}

/*** CollapsibleDemo ***/

.CollapsibleDemo {
    padding: 2em;
}

.CollapsibleDemo .Collapsible {
    border: 1px solid lightgray;
    max-width: 800px;
}

/*** FaderDemo ***/

.FaderDemo .Fader {
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin: .5em 0;
    padding: 2px;
}

/*** FlickrInterestingnessNavigator ***/

.FlickrInterestingnessNavigator {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
}

.FlickrInterestingnessNavigator #header {
    border-bottom: 1px dotted #ddd;
    font-size: 12px;
}
.FlickrInterestingnessNavigator #header #LateralNavigator_heading {
    color: #ff0084;
    text-align: center;
}

.FlickrInterestingnessNavigator .dayOfWeek {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-align: left;
    text-transform: uppercase;
}

.FlickrInterestingnessNavigator #calendar {
    border-collapse: collapse;
    font-size: 18px;
    font-weight: bold;
}

.FlickrInterestingnessNavigator .monthButtonName {
    color: #0063dc;
    text-decoration: underline;
}
.FlickrInterestingnessNavigator .monthButtonName:hover {
    background-color: #0259C4;
    color: white;
    text-decoration: none;
}
.FlickrInterestingnessNavigator .ButtonBase.disabled .monthButtonName {
    background-color: inherit;
    color: black;
    text-decoration: none;
}

.FlickrInterestingnessNavigator .chevron {
    color: #ff0084;
    font-weight: bold;
}

.FlickrInterestingnessNavigator .FlickrInterestingnessDay.insideMonth {
    border-style: solid;
    border-width: 1px;
}
.FlickrInterestingnessNavigator .FlickrInterestingnessDay.outsideMonth {
    visibility: hidden;
}

/*** FlickrInterestingPhotoDemo ***/

.FlickrInterestingPhotoDemo #photo {
    cursor: pointer;
}

/*** GradientDemo ***/

.GradientDemo .Gradient {
    height: 100px;
    width: 100px;
}

/*** HighlightEffectsDemo ***/

.HighlightEffectsDemo {
    color: #444;
    padding: 5px;
}

.HighlightEffectsDemo > * {
    display: inline-block;
    vertical-align: top;
}

/*
 * It'd be preferable to use a subclass to define these attributes; it's not
 * good practice to directly style an element belonging to a subcontrol. For
 * demo purposes, however, we'll take a shortcut and directly set the style
 * of the HoverEffect's content.
 */
.HighlightEffectsDemo .HighlightEffects #HighlightEffects_content {
    background-color: #e8e8e8;
    border: 3px solid #e0e0e0;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    height: 40px;
    padding-left: 5px;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
    width: 40px;
}

/*** HintTextBoxDemo ***/

.HintTextBoxDemo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    width: 200px;
}

.HintTextBoxDemo input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

/*** HorizontalPanelsDemo ***/

.HorizontalPanelsDemo .HorizontalPanels {
    height: 200px;
}
.HorizontalPanelsDemo .HorizontalPanels > * {
    border: 1px solid lightgray;
    padding: 6px;
}

/*** ListBoxDemo ***/

.ListBoxDemo {
    width: 200px;
}

.ListBoxDemo #colors {
    height: 200px;
}

.ListBoxDemo #status {
    color: gray;
    font-size: smaller;
}

/*** MultiListBoxDemo ***/

.MultiListBoxDemo {
    width: 200px;
}

.MultiListBoxDemo #animals {
    height: 200px;
}

.MultiListBoxDemo #status {
    color: gray;
    font-size: smaller;
}

/*** PanelWithOverflowDemo ***/

.PanelWithOverflowDemo {
    margin: 0;
    padding: 0;
}

.PanelWithOverflowDemo #toolbar {
    background: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
}

.PanelWithOverflowDemo .toolbarButton {
    background-color: whitesmoke;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
    color: #444;
    font-size: 11px;
    font-weight: bold;
    margin-right: 10px;
    padding: 0.5em 1em;
}
.PanelWithOverflowDemo .toolbarButton:last-child {
    margin-right: 0;
}
.PanelWithOverflowDemo .toolbarButton:hover {
    border-color: #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #333;
}
.PanelWithOverflowDemo .toolbarButton.focused {
    border-color: #4d90fe;
}
.PanelWithOverflowDemo .toolbarButton.pressed {
    background-color: #e0e0e0;
}

.PanelWithOverflowDemo .Popup .toolbarButton {
    margin-right: 0;
    margin-bottom: 5px;
}
.PanelWithOverflowDemo .Popup .toolbarButton:last-child {
    margin-bottom: 0;
}

/*** PersistentPanelSideDemo ***/

.PersistentPanelSideDemo #container {
    margin: 0 auto;
    width: 1024px;
}

.PersistentPanelSideDemo #text {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 2em;
}

.PersistentPanelSideDemo h1 {
    margin-top: 0;
}

.PersistentPanelSideDemo #rightPanel {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 2em;
    width: 300px;
}

.PersistentPanelSideDemo #rightPanel > * {
    margin-bottom: 1em;
}

.PersistentPanelSideDemo #important {
    background: #eee;
    border: 1px solid gray;
    padding: 0.5em;
}

/*** PersistentPanelToolbarDemo ***/

.PersistentPanelToolbarDemo {
    margin: 0;
}

.PersistentPanelToolbarDemo .normal {
    max-width: 600px;
    padding: 1em 2em;
}

.PersistentPanelToolbarDemo p {
    margin: 0.5em 0;
}

.PersistentPanelToolbarDemo #toolbar {
    background: #eee;
    -moz-box-shadow: 0 2px 2px #bbb;
    -webkit-box-shadow: 0 2px 2px #bbb;
    box-shadow: 0 2px 2px #bbb;
    padding: 0.5em 2em;
}

.PersistentPanelToolbarDemo #toolbar .ButtonBase {
    margin-right: 5px;
}

/*** RotatingPagesWithDotsDemo ***/

.RotatingPagesWithDotsDemo .sample {
    font-size: 64px;
    padding: 30px;
    text-align: center;
    vertical-align: middle;
}

/*** SampleDialog ***/

.SampleDialog {
    background: white;
    border: 2px solid orange;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
    min-width: 200px;
    max-width: 500px;
}

/*** SampleSpriteButtonDemo ***/

.SampleSpriteButtonDemo .SampleSpriteButton {
    margin-right: 6px;
}

/*** SlidingPagesWithDotsDemo ***/

.SlidingPagesWithDotsDemo .page {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

/*** SpriteDemo ***/

.SpriteDemo .panel {
    display: inline-table;
    vertical-align: top;
}
.SpriteDemo .panel p {
    margin-bottom: 0;
}

.SpriteDemo #image {
    cursor: pointer;
}

.SpriteDemo #sprite {
    width: 89px;
}

/*** SwitchDemo ***/

.SwitchDemo #switchMode {
    min-height: 2em;
}

.SwitchDemo #textReadOnly {
    padding: 3px;
}

/*** TextCondenserDemo ***/

.TextCondenserDemo {
    font-family: "Open Sans", sans-serif;
    max-width: 150px;
}

.TextCondenserDemo .Fader {
    background-color: #faf3ed;
}

/*** ValidatingTextBoxDemo ***/

.ValidatingTextBoxDemo {
    display: table;
}
.ValidatingTextBoxDemo > * {
    display: table-row;
}
.ValidatingTextBoxDemo > * > * {
    display: table-cell;
    padding: .5em;
}

.ValidatingTextBoxDemo .label {
    text-align: right;
}

/*** VerticalPanelsDemo ***/

.VerticalPanelsDemo .VerticalPanels {
    height: 200px;
}
.VerticalPanelsDemo .VerticalPanels > * {
    border: 1px solid lightgray;
    padding: 6px;
}

