.MenuItem {

  cursor: default;
  padding: 0.5em 1em;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;

  /* Generic appearance */
  &.generic {

    padding: 0.5em 1em;

    &:hover {
      background: #eee;
    }

    &.disabled {
      color: #999;
      &:hover {
        background: inherit;
      }
    }

  }

}
