@import "mixins";

.PersistentPanel {

  .box-sizing( border-box );

  .PersistentPanel_content {
    .box-sizing( border-box );
  }

  &.docked .PersistentPanel_content {
    position: fixed;
  }

  /* Generic appearance */
  &.generic {
    .PersistentPanel_content {
      background: white;
      z-index: 1;
    }
  }

}
