@import "mixins";

.TextBoxWithButton {

  // Hack
  .SimpleFlexBox_content {
    padding-right: 0.25em;
    vertical-align: middle !important; // For non-FlexBox browsers
  }

  .TextBoxWithButton_textBox {
    .box-sizing( border-box );
    width: 100%;
  }

}